@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Inter:wght@400;600&family=Lato:wght@700&family=Poppins&family=Source+Code+Pro:wght@400;500&display=swap');

:root {
  --font-inter: 'Inter', sans-serif;
  --font-lato: 'Lato', sans-serif;
  --font-adamina: 'Adamina', serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-source-code: 'Source Code Pro', monospace;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}